
<div *ngIf="rowData.isAdd" [ngClass]="{'task': isHidden}" >
    <form [formGroup]="newRowForm" (ngSubmit)="confirmTask()">
        <input 
        type="text" 
        placeholder='enter your name'
        formControlName = 'name'>
        <input 
        type="text"
        placeholder='enter your todo task'
        formControlName = 'taskName'>
        <input 
        type="text" 
        placeholder='enter task description'
        formControlName = 'description'>
        <input 
        type="date" 
        placeholder='enter due date'
        formControlName = 'dueDate'>
        <button type="submit">Confirm task</button>
        <button type="button"(click)="removeTask($event)">Delete task</button>
    </form>
</div>
<div *ngIf="!rowData.isAdd" [ngClass]="{'task': isHidden}">
    <span>{{rowData.name}}</span>
    <span>{{rowData.taskName}}</span>
    <span>{{rowData.description}}</span>
    <span>{{rowData.dueDate}}</span>
</div>